<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/code.ico" type="image/x-icon">
    <title>Beranda</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="../css/tooltip.css">

    <!-- Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Quicksand&display=swap" rel="stylesheet">

    <!-- Tailwindcss -->
    <link rel="stylesheet" href="../css/tailwind.css">
</head>

<body>
    <!-- Navigation Bar -->
    <nav
        class="absolute right-0 left-0 h-32 bg-gradient-to-r from-primary to-secondary text-white font-quicksand z-10 shadow-navShadow">
        <div
            class="container mx-auto flex flex-col items-center justify-center h-full sm:flex-row sm:justify-between sm:items-center">
            <div class="sm:ml-6">
                <p class="font-pacifico text-2xl lg:text-3xl">My Website</p>
            </div>

            <div class="mt-2 sm:mt-0 sm:mr-6">
                <a class="mr-4 hover:text-gray-300" href="index.html">Beranda</a>
                <a class="mr-4 hover:text-gray-300" href="blog.html">Blog</a>
                <a class="hover:text-gray-300" href="contact.html">Contact</a>
                <a class="ml-4 hover:text-gray-300" href="about.html">About</a>
            </div>
        </div>
    </nav>
    <!-- End Navigation Bar -->

    <div class="flex">
        <!-- Side Bar -->
        <aside
            class="hidden fixed top-0 bottom-0 bg-black shadow-sideShadow w-32 md:flex flex-col items-center justify-between h-full py-8">

            <!-- Link -->
            <div>
                <!-- Side Text -->
                <div class="">
                    <p class="text-white font-pacifico text-center">My</p>
                    <p class="text-white font-pacifico text-center">Website</p>
                </div>
                <!-- End Side Text -->

                <a href="index.html"
                    class="tooltip bg-gradient-to-tr from-ternary to-side w-14 h-14 flex justify-center items-center rounded-lg mt-20 text-white hover:text-indigo-500">
                    <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M10.707 2.293a1 1 0 00-1.414 0l-7 7a1 1 0 001.414 1.414L4 10.414V17a1 1 0 001 1h2a1 1 0 001-1v-2a1 1 0 011-1h2a1 1 0 011 1v2a1 1 0 001 1h2a1 1 0 001-1v-6.586l.293.293a1 1 0 001.414-1.414l-7-7z">
                        </path>
                    </svg>
                    <span
                        class="invisible opacity-0 absolute bg-white text-primary rounded full text-xs p-1 tooltip-text transition duration-500">
                        Beranda
                    </span>
                </a>

                <a href="blog.html"
                    class="tooltip bg-gradient-to-tr from-ternary to-side w-14 h-14 flex justify-center items-center rounded-lg mt-4 text-white hover:text-indigo-500">
                    <svg class="w-10 h-10" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                        xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3.055 11H5a2 2 0 012 2v1a2 2 0 002 2 2 2 0 012 2v2.945M8 3.935V5.5A2.5 2.5 0 0010.5 8h.5a2 2 0 012 2 2 2 0 104 0 2 2 0 012-2h1.064M15 20.488V18a2 2 0 012-2h3.064M21 12a9 9 0 11-18 0 9 9 0 0118 0z">
                        </path>
                    </svg>
                    <span
                        class="invisible opacity-0 absolute bg-white text-primary rounded full text-xs p-1 tooltip-text transition duration-500">
                        Blog
                    </span>
                </a>

                <a href="contact.html"
                    class="tooltip bg-gradient-to-tr from-ternary to-side w-14 h-14 flex justify-center items-center rounded-lg mt-4  text-white hover:text-indigo-500">
                    <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
                        </path>
                    </svg>
                    <span
                        class="invisible opacity-0 absolute bg-white text-primary rounded full text-xs p-1 tooltip-text transition duration-500">
                        Contact
                    </span>
                </a>

                <a href="about.html"
                    class="tooltip bg-gradient-to-tr from-ternary to-side w-14 h-14 flex justify-center items-center rounded-lg mt-4  text-white hover:text-indigo-500">
                    <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span
                        class="invisible opacity-0 absolute bg-white text-primary rounded full text-xs p-1 tooltip-text transition duration-500">
                        About
                    </span>
                </a>
            </div>
            <!-- End Link -->

            <!-- Sign Up and Sign in -->
            <div>
                <a href="login.html"
                    class="tooltip bg-gradient-to-tr from-green-500 to-green-700 w-14 h-14 flex justify-center items-center rounded-lg  text-white hover:text-primary">
                    <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 3a1 1 0 011 1v12a1 1 0 11-2 0V4a1 1 0 011-1zm7.707 3.293a1 1 0 010 1.414L9.414 9H17a1 1 0 110 2H9.414l1.293 1.293a1 1 0 01-1.414 1.414l-3-3a1 1 0 010-1.414l3-3a1 1 0 011.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span
                        class="invisible opacity-0 absolute bg-white text-primary rounded full text-xs p-1 tooltip-text transition duration-500">
                        Sign In
                    </span>
                </a>
                <a href="register.html"
                    class="tooltip bg-gradient-to-tr from-yellow-500 to-yellow-700 w-14 h-14 flex justify-center items-center rounded-lg mt-4  text-white hover:text-primary">
                    <svg class="w-10 h-10" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M3 17a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM6.293 6.707a1 1 0 010-1.414l3-3a1 1 0 011.414 0l3 3a1 1 0 01-1.414 1.414L11 5.414V13a1 1 0 11-2 0V5.414L7.707 6.707a1 1 0 01-1.414 0z"
                            clip-rule="evenodd"></path>
                    </svg>
                    <span
                        class="invisible opacity-0 absolute bg-white text-primary rounded full text-xs p-1 tooltip-text transition duration-500">
                        Sign Up
                    </span>
                </a>
            </div>
            <!-- End Sign Up and Sign in -->

        </aside>
        <!-- End Side Bar -->

        <!-- Content -->
        <div class="md:ml-32 mt-32 w-full bg-gradient-to-r from-primary to-secondary text-white font-quicksand">

            <!-- Pembuka -->
            <section class="text-center m-32">
                <h1 class="text-2xl md:text-5xl lg:text-7xl font-pacifico">Welcome To Blog</h1>
                <div class="flex justify-center">
                    <hr class="w-1/3 border-2 lg:border-4 rounded-full mt-2 md:mt-5">
                </div>
            </section>
            <!-- End Pembuka -->

            <!-- isi -->
            <section class="mt-12">
                <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 p-12 md:p-4">
                    <div class="bg-gray-300 text-primary rounded-xl">
                        <div class="rounded-t-xl overflow-hidden">
                            <img src="https://dummyimage.com/720x600/edf2f7/a5afbd" alt="not found">
                        </div>
                        <div class="p-5">
                            <h2 class="text-lg font-black">Post 1</h2>
                            <p class="text-sm mb-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt voluptates
                                laboriosam nostrum adipisci voluptatem sequi cupiditate quia excepturi eveniet.
                            </p>
                            <a class="text-sm px-3 py-2 rounded-md bg-primary hover:bg-gray-700 text-white" href="#">See
                                Post</a>
                        </div>
                    </div>
                    <div class="bg-gray-300 text-primary rounded-xl">
                        <div class="rounded-t-xl overflow-hidden">
                            <img src="https://dummyimage.com/720x600/edf2f7/a5afbd" alt="not found">
                        </div>
                        <div class="p-5">
                            <h2 class="text-lg font-black">Post 2</h2>
                            <p class="text-sm mb-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt voluptates
                                laboriosam nostrum adipisci voluptatem sequi cupiditate quia excepturi eveniet.
                            </p>
                            <a class="text-sm px-3 py-2 rounded-md bg-primary hover:bg-gray-700 text-white" href="#">See
                                Post</a>
                        </div>
                    </div>
                    <div class="bg-gray-300 text-primary rounded-xl">
                        <div class="rounded-t-xl overflow-hidden">
                            <img src="https://dummyimage.com/720x600/edf2f7/a5afbd" alt="not found">
                        </div>
                        <div class="p-5">
                            <h2 class="text-lg font-black">Post 3</h2>
                            <p class="text-sm mb-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt voluptates
                                laboriosam nostrum adipisci voluptatem sequi cupiditate quia excepturi eveniet.
                            </p>
                            <a class="text-sm px-3 py-2 rounded-md bg-primary hover:bg-gray-700 text-white" href="#">See
                                Post</a>
                        </div>
                    </div>
                    <div class="bg-gray-300 text-primary rounded-xl">
                        <div class="rounded-t-xl overflow-hidden">
                            <img src="https://dummyimage.com/720x600/edf2f7/a5afbd" alt="not found">
                        </div>
                        <div class="p-5">
                            <h2 class="text-lg font-black">Post 4</h2>
                            <p class="text-sm mb-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt voluptates
                                laboriosam nostrum adipisci voluptatem sequi cupiditate quia excepturi eveniet.
                            </p>
                            <a class="text-sm px-3 py-2 rounded-md bg-primary hover:bg-gray-700 text-white" href="#">See
                                Post</a>
                        </div>
                    </div>
                    <div class="bg-gray-300 text-primary rounded-xl">
                        <div class="rounded-t-xl overflow-hidden">
                            <img src="https://dummyimage.com/720x600/edf2f7/a5afbd" alt="not found">
                        </div>
                        <div class="p-5">
                            <h2 class="text-lg font-black">Post 5</h2>
                            <p class="text-sm mb-4">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex incidunt voluptates
                                laboriosam nostrum adipisci voluptatem sequi cupiditate quia excepturi eveniet.
                            </p>
                            <a class="text-sm px-3 py-2 rounded-md bg-primary hover:bg-gray-700 text-white" href="#">See
                                Post</a>
                        </div>
                    </div>
                </div>
                <div class=""></div>
            </section>
            <!-- End isi -->

            <!-- Footer -->
            <section
                class="bg-gray-700 w-full h-16 mt-32 text-white font-semibold flex items-center justify-between px-12">
                <p>Copyright 2021</p>
                <a href="https://www.instagram.com/p_martad/?hl=en">Created by PrimaGiant</a>
            </section>
            <!-- End Footer -->

        </div>
        <!-- End Content -->
    </div>

</body>

</html>